@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	padding-top: 100px;
}

.form-control {
	font-size: 18px;
	padding: 24px;
}

th[data-sort] {
	cursor: pointer;
}

.delete-form {
	display: inline-block;	
}

.delete-btn {
	border: none;
	background: none;
}

.go-top {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 48px;
    display: none;
    height: 48px;
    position: fixed;
    right: 48px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    width: 48px;
}

.go-top:hover {
    background-color: #f54128;
    background-color: rgba(0, 0, 0, 0.7);
}

.go-top span {
    color: white;
    display: inline-block;
    font-size: 24px;
    left: 50%;
    position: absolute;
    height: 24px;
    margin: -16px 0 0 -12px;
    top: 50%;
    width: 24px;
}

/* Customize container */
@media (min-width: 768px) {
  .container-small {
    max-width: 720px;
    margin: 0px auto;
  }
}


