@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	padding-top: 100px;
}

.form-control {
	font-size: 18px;
	padding: 24px;
}

th[data-sort] {
	cursor: pointer;
}

.delete-form {
	display: inline-block;	
}

.delete-btn {
	border: none;
	background: none;
}

/* Customize container */
@media (min-width: 768px) {
  .container-small {
    max-width: 730px;
    margin: 0px auto;
  }
}


